*{
    box-sizing: border-box;
}

.container{
    background-color: black;
    color: white;
    display: flex;
    padding: 20px;
    margin: 5px;
}

.item{
    background-color: blue;
    padding: 15px;
    margin: 5px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}