*{
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.item{
    background-color: blue;
    width: 300px;
    height: 300px;
}

@media(min-width:0px)and(max-width:480px){
    .container{
        flex-direction: column;
        justify-content: center;
    }

    .item{
        width: 150px;
        height: 150px;
    }
}

@media(min-width:481px)and(max-width:768px){
    .container{
        flex-direction: column;
    }

    .item{
        width: 150px;
        height: 150px;
    }
}

@media(min-width:769px)and(max-width:1279px){
    .container{
        flex-direction: column;
    }

    .item{
        width: 150px;
        height: 150px;
    }
}
