*{ 
    box-sizing: border-box;
}

.Container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header1 header1"
        "sidebar content"
        "footer footer"
    ;
    height: 100vh;
    gap: 10px;
}

.item{
    background-color: gray;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    grid-area: header1;
}

.sidebar{
    grid-area: sidebar;
}

.content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}