*{
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 5px;
    height: 100vh;
    gap: 10px;
}

.item{
    background-color: rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    grid-column: 1/3;
}

.sidebar{
    grid-row: 2/3;
}

.content{
    grid-column: 2/3;
    grid-row: 2/3;
}

.footer{
    grid-column: 1/3;
}